build-vs2026/ALL_BUILD.vcxproj
build-vs2026/ALL_BUILD.vcxproj.filters
build-vs2026/cmake_install.cmake
build-vs2026/CMakeCache.txt
build-vs2026/ZapretControl.slnx
build-vs2026/ZapretControl.vcxproj
build-vs2026/ZapretControl.vcxproj.filters
build-vs2026/ZERO_CHECK.vcxproj
build-vs2026/ZERO_CHECK.vcxproj.filters
build-vs2026/CMakeFiles/cmake.check_cache
build-vs2026/CMakeFiles/CMakeConfigureLog.yaml
build-vs2026/CMakeFiles/generate.stamp
build-vs2026/CMakeFiles/generate.stamp.depend
build-vs2026/CMakeFiles/generate.stamp.list
build-vs2026/CMakeFiles/InstallScripts.json
build-vs2026/CMakeFiles/TargetDirectories.txt
build-vs2026/CMakeFiles/1f2b13c8c02fe7fcdf3cd9bba7913eef/generate.stamp.rule
build-vs2026/CMakeFiles/4.4.0-rc3/CMakeCXXCompiler.cmake
build-vs2026/CMakeFiles/4.4.0-rc3/CMakeDetermineCompilerABI_CXX.bin
build-vs2026/CMakeFiles/4.4.0-rc3/CMakeRCCompiler.cmake
build-vs2026/CMakeFiles/4.4.0-rc3/CMakeSystem.cmake
build-vs2026/CMakeFiles/4.4.0-rc3/VCTargetsPath.txt
build-vs2026/CMakeFiles/4.4.0-rc3/VCTargetsPath.vcxproj
build-vs2026/CMakeFiles/4.4.0-rc3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build-vs2026/CMakeFiles/4.4.0-rc3/CompilerIdCXX/CompilerIdCXX.exe
build-vs2026/CMakeFiles/4.4.0-rc3/CompilerIdCXX/CompilerIdCXX.vcxproj
build-vs2026/CMakeFiles/4.4.0-rc3/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build-vs2026/CMakeFiles/4.4.0-rc3/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build-vs2026/CMakeFiles/4.4.0-rc3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build-vs2026/CMakeFiles/4.4.0-rc3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build-vs2026/CMakeFiles/4.4.0-rc3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build-vs2026/CMakeFiles/4.4.0-rc3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build-vs2026/CMakeFiles/4.4.0-rc3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build-vs2026/CMakeFiles/4.4.0-rc3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build-vs2026/CMakeFiles/4.4.0-rc3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build-vs2026/CMakeFiles/4.4.0-rc3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build-vs2026/CMakeFiles/4.4.0-rc3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build-vs2026/CMakeFiles/4.4.0-rc3/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build-vs2026/CMakeFiles/4.4.0-rc3/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build-vs2026/Release/config.ini
build-vs2026/Release/ZapretControl-script.log
build-vs2026/Release/zapretcontrol.exe
build-vs2026/Release/ZapretControl.log
build-vs2026/ZapretControl.dir/Release/app.res
build-vs2026/ZapretControl.dir/Release/Config.obj
build-vs2026/ZapretControl.dir/Release/Logger.obj
build-vs2026/ZapretControl.dir/Release/main.obj
build-vs2026/ZapretControl.dir/Release/ProcessManager.obj
build-vs2026/ZapretControl.dir/Release/SettingsWindow.obj
build-vs2026/ZapretControl.dir/Release/StrategyScanner.obj
build-vs2026/ZapretControl.dir/Release/TrayIcon.obj
build-vs2026/ZapretControl.dir/Release/ZapretControl.exe.recipe
build-vs2026/ZapretControl.dir/Release/ZapretControl.tlog/CL.command.1.tlog
build-vs2026/ZapretControl.dir/Release/ZapretControl.tlog/Cl.items.tlog
build-vs2026/ZapretControl.dir/Release/ZapretControl.tlog/CL.read.1.tlog
build-vs2026/ZapretControl.dir/Release/ZapretControl.tlog/CL.write.1.tlog
build-vs2026/ZapretControl.dir/Release/ZapretControl.tlog/CustomBuild.command.1.tlog
build-vs2026/ZapretControl.dir/Release/ZapretControl.tlog/CustomBuild.read.1.tlog
build-vs2026/ZapretControl.dir/Release/ZapretControl.tlog/CustomBuild.write.1.tlog
build-vs2026/ZapretControl.dir/Release/ZapretControl.tlog/link.command.1.tlog
build-vs2026/ZapretControl.dir/Release/ZapretControl.tlog/link.read.1.tlog
build-vs2026/ZapretControl.dir/Release/ZapretControl.tlog/link.secondary.1.tlog
build-vs2026/ZapretControl.dir/Release/ZapretControl.tlog/link.write.1.tlog
build-vs2026/ZapretControl.dir/Release/ZapretControl.tlog/rc.command.1.tlog
build-vs2026/ZapretControl.dir/Release/ZapretControl.tlog/rc.read.1.tlog
build-vs2026/ZapretControl.dir/Release/ZapretControl.tlog/rc.write.1.tlog
build-vs2026/ZapretControl.dir/Release/ZapretControl.tlog/ZapretControl.lastbuildstate
build-vs2026/x64/Release/ALL_BUILD/ALL_BUILD.recipe
build-vs2026/x64/Release/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build-vs2026/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build-vs2026/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build-vs2026/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build-vs2026/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
build-vs2026/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build-vs2026/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build-vs2026/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build-vs2026/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
